@font-face {
    font-family: "SFProText-SemiBold";
    src: url("../fonts/SFProText-Semibold.ttf");
}

@font-face {
    font-family: "SFProText-Bold";
    src: url("../fonts/SFProText-Bold.ttf");
}

@font-face {
    font-family: "SFProText-Regular";
    src: url("../fonts/SFProText-Regular.ttf");
}

@font-face {
    font-family: "SFProText-Medium";
    src: url("../fonts/SFProText-Medium.ttf");
}

body {
    font-family: "SFProText-Regular";
    font-weight: 500;
    font-size: 1rem;
}
