// COLORS
$color-primary: #cc1a38;
$color-primary-light: #e30611;
$color-primary-lighter: #e52727;
$color-primary-1: #e61c3f;
$color-primary-2: #d01818;

$color-success: #44782a;
$color-success-1: #e2f2da;

$color-white: #ffffff;

$color-gray: #6c757d;
$color-gray-1: #c4c4c4;
$color-gray-2: #f1eeee;
$color-gray-3: #cfd9e0;
$color-gray-4: #ebebeb;
$color-gray-5: #cccccc;
$color-gray-6: #eeeeee;

$color-blue: #0097fd;
$color-blue-1: #2796ff;
$color-blue-2: #0066c0;
$color-blue-3: #0060d2;
$color-blue-4: #0a1484;
$color-blue-dark: #022335;
$color-blue-dark-light: #012538;

$color-black: #212121;
$color-black-1: #262626;

// FONT
$default-font-size: 1rem;
$font-size-10: 0.625rem;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$border-radius-base: 2px;
