.button {
    padding: 17px 50px;
    outline: none;
    border: none;
    font-size: $font-size-14;
    color: $color-white;
    border-radius: $border-radius-base;

    &:disabled {
        background-color: $color-gray !important;
    }

    &.blue {
        background-color: $color-blue-3;
    }

    &.primary {
        background-color: $color-primary;
    }

    &.secondary {
        border: 1px solid $color-primary;
        background-color: $color-white;
        color: $color-primary;
    }

    &--md {
        padding: 12px 20px;
    }

    &--sm {
        padding: 11px 30px;
    }

    @media only screen and (max-width: 82.5rem) {
        font-size: 14px;
    }
}
