@import "../variables";
@import "../mixins";

.button {
    padding: 17px 50px;
    outline: none;
    border: none;
    font-size: $font-size-14;
    color: $color-white;
    border-radius: $border-radius-base;
    cursor: pointer;

    &:disabled {
        background-color: $color-gray !important;
    }

    &.blue {
        background-color: $color-blue-3;
    }

    &.primary {
        background-color: $color-primary;
    }

    &.secondary {
        border: 1px solid $color-primary;
        background-color: $color-white;
        color: $color-primary;
    }

    &.tertiary {
        background-color: $color-primary-light;
    }

    &.gray {
        padding: 10px;
        background-color: $color-gray-4;
        color: $color-black;
    }

    &.red {
        background-color: #de5252;
    }

    &.white {
        color: #555555;
        border: solid 2px #d9d9d9;
        background-color: $color-white;
    }

    &.dark {
        padding: 10px 0;
        background-color: #0b1f35;
    }

    &.br-18 {
        border-radius: $border-radius-base * 9;
    }

    &.show-more {
        width: 100%;
        border: solid 1px $color-gray-4;
        background-color: $color-white;
        color: $color-black;
        margin: 30px 0 30px;
    }

    &--md {
        padding: 12px 20px;
    }

    &--sm {
        padding: 11px 30px;
    }

    @include respond(phone) {
        font-size: 14px;
    }
}
