@import "../variables";

.diagonal-red-line {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        border-top: 1px solid $color-primary;
        width: 100%;
        transform: rotate(166deg);
        transform-origin: 0% 0%;
    }
}
