.form-input {
    border: solid 1px #d9d9d9;
    border-radius: $border-radius-base;
    padding: 0.75rem;
    font-size: $font-size-14;
    transition: border-color 0.3s linear;

    &.error {
        box-shadow: 0 0 5px 0 $color-primary;
        border: solid 1px $color-primary;

        & + .error-tooltip-wrapper {
            position: relative;
            margin-left: 24px;

            @media only screen and (max-width: 82.5rem) {
                margin-left: 0;
                top: 20px;
            }
            span {
                font-size: $font-size-12;
                background-color: $color-primary;
                color: $color-white;
                padding: 13px 20px;

                @media only screen and (max-width: 82.5rem) {
                    padding: 9px 26px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: -19px;
                    top: 1px;
                    border: 10px solid;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-left: 10px solid transparent;
                    border-right: 10px solid $color-primary;

                    @media only screen and (max-width: 82.5rem) {
                        top: -19px;
                        left: 50%;
                        transform: translateX(-50%) rotate(90deg);
                        border-top: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                        border-left: 5px solid transparent;
                        border-right: 5px solid $color-primary;
                    }
                }
            }
        }
        & + .error {
            color: $color-primary;
            display: block;
            margin-bottom: 15px;
        }
    }

    &::placeholder {
        color: $color-gray;
    }

    &:focus {
        border: 1px solid $color-black;
        &.error {
            border: 1px solid;
            box-shadow: none;

            & + .error-tooltip-wrapper {
                display: none;
            }
        }
    }

    @media only screen and (max-width: 82.5rem) {
        width: 100% !important;
        font-size: 14px;
    }
}

.form-label {
    @media only screen and (max-width: 82.5rem) {
        width: 100%;
        margin-bottom: 5px;
        display: block;
        font-size: 14px;
    }
}
