.pagination {
    width: max-content;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    &__item {
        padding: 10px 15px;
        margin-right: 10px;
        color: $color-black;
        border-radius: $border-radius-base;
        border: solid 1px $color-gray-4;
        background-color: $color-white;
        &.active {
            background-color: $color-blue-dark;
            color: $color-white;
        }
    }
}
