.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}
.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
}
.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    font-size: $font-size-13;
    color: #cfd9e0;
    padding: 0 10px;
    cursor: pointer;

    & > span {
        display: flex;
        align-items: center;

        & > img {
            margin-right: 4px;
        }
    }
    & > img {
        transform-origin: center;
        transform: rotate(90deg);
        margin-left: 8px;
    }
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    background: $color-blue-dark;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
    color: #cfd9e0;
    padding: 10 10px;
    & > img {
        margin-right: 4px;
    }
}
.custom-option:hover {
    cursor: pointer;
    background-color: $color-gray;
}
.custom-option.selected {
    color: #ffffff;
    background-color: $color-primary;
}
