@import "../mixins";

.vr {
    width: 1px;
    height: 20px;
    background-color: #aaaaaa;
    @include respond(phone) {
        display: none;
        &.not-hidden {
            display: block;
        }
    }
}
