@import "../variables";
@import "../mixins";

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block;
}

.d-i-block {
    display: inline-block;
}

.hidden {
    display: none;
}

.flex-direction-col {
    flex-direction: column;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.t-center {
    text-align: center;
}

.custom-container {
    width: 82.5 * 1rem;
    margin: 0 auto;

    @include respond(phone) {
        width: 95%;
    }
}

.row {
    @include respond(phone) {
        flex-wrap: wrap;
    }
}

.col-9 {
    width: 72%;
    @include respond(phone) {
        width: 100%;
    }
}

.col-6 {
    width: 52%;
    @include respond(phone) {
        width: 100%;
    }
}

.col-5 {
    width: 42%;
    @include respond(phone) {
        width: 100%;
    }
}

.col-3 {
    width: 25%;
    @include respond(phone) {
        width: 100%;
    }
}

.azn {
    font-size: 12px;
}

a.blue-link {
    color: $color-blue-1;
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $color-blue-1;
    }
}
