@import "../variables";

.campaigns-section {
    &__header {
        margin-bottom: 60px;
    }
    &__item {
        margin-bottom: 60px;
        position: relative;

        & > a:link,
        & > a:visited,
        & > a:hover,
        & > a:active {
            color: $color-black;
        }

        &__image {
            width: 100%;
            object-fit: cover;
        }

        &__deadline {
            color: $color-gray;
            display: inline-block;
            padding: 15px 0 15px;
        }
        &__text {
            font-size: 18px;
            line-height: 1.44;
        }
    }
}
