@import "../variables";
@import "../mixins";

.header {
    background-color: $color-blue-dark;
    padding-top: 11px;
    font-size: $font-size-13;

    a {
        color: $color-gray-3;
    }

    &__upper-navigation {
        width: 70%;
        &__list-item {
            &__link {
                padding-right: 30px;
            }
        }

        &--right {
            width: 30%;
            justify-content: flex-end;
            a:first-child {
                padding-right: 41px;
            }

            @include respond(phone) {
                display: none !important;
            }
        }

        @include respond(phone) {
            display: none !important;
        }
    }

    &__center-part {
        margin: 40px 0px 30px;
        height: 40px;

        &__image-wrapper {
            width: 10%;
            @include respond(phone) {
                width: 25%;
                display: flex;
                justify-content: space-between;
            }

            & > a > img {
                width: 106px;
                @include respond(phone) {
                    width: 53px;
                }
            }

            &__hamburger {
                @include respond(phone) {
                    display: block !important;
                }
            }
        }

        &__input-wrapper {
            position: relative;
            width: 41%;

            &__input {
                position: absolute;
                width: 100%;
                font-size: $font-size-12;
                padding: 13px 15px;
                border: none;
                border-radius: $border-radius-base;

                &::placeholder {
                    color: $color-black-1;
                }
            }

            &__search-icon {
                position: absolute;
                top: 13px;
                right: 13px;
            }

            &.with-catalog {
                width: 30%;
            }

            &__search-results {
                position: absolute;
                width: 100%;
                top: 40px;
                left: 0;
                z-index: 999;
                display: none;

                &.active {
                    display: block;
                    padding: 5px 5px 15px;
                    background-color: $color-white;
                    body {
                        opacity: 0.5;
                    }
                }
                &__item {
                    padding: 5px;
                    & > p {
                        color: #252323;
                        font-size: $font-size-14;
                    }
                    &:hover {
                        background-color: #f5f6f6;
                    }
                }
                &--count__wrapper {
                    color: #6c757d;
                }
            }

            @include respond(phone) {
                display: none !important;
            }
        }

        &__catalog-button {
            width: 13%;
            height: 40px;
            position: relative;

            @include respond(phone) {
                display: none;
            }
        }

        &__catalog-section {
            position: absolute;
            display: none;
            left: -77%;
            top: 55px;
            width: 870%;
            height: max-content;
            z-index: 55555;
            background-color: $color-white;
            & > div:first-child {
                width: 19%;
                padding: 20px 0;
            }

            & > .sub-categories-wrapper {
                width: 75%;
                padding-top: 20px;
                padding-left: 20px;
                background-color: $color-white;
                z-index: 10000;
                transition: all 0.3s linear;
                opacity: 1;

                &__back-link {
                    display: flex;
                    align-items: center;
                    color: $color-black-1 !important;
                    font-size: $font-size-14;
                    & > img {
                        margin-right: 16px;
                        object-fit: cover;
                    }
                }

                &__list {
                    &__item {
                        & > a {
                            padding-top: 20px;
                            display: inline-block;
                            color: $color-black-1;
                        }
                    }
                }
                & > p {
                    padding-right: 16px;
                    & > img {
                        transform: rotate(90deg);
                    }
                }
            }

            &.show {
                display: flex;
            }
        }

        & .sub-categories {
            &__list {
                &__item {
                    &:first-child a {
                        color: #0060d2;
                        font-weight: bold;
                        font-size: 15px;
                    }

                    &__link {
                        color: $color-black;
                        font-size: 14px;
                        display: inline-block;
                        padding-bottom: 10px;
                    }
                }
            }
        }

        @include respond(phone) {
            margin: 0;
            align-items: center;
        }
    }

    &__center-part__customer-navigation {
        width: 49%;

        @include respond(phone) {
            width: 60%;
            justify-content: space-between;
            align-items: baseline;
        }

        &__list-item {
            &__icon-holder {
                position: relative;
                display: flex;
                align-items: center;
                padding: 0 30px;
                height: 24px;

                &--last {
                    padding: 0 30px;
                    height: 24px;
                    @include respond(phone) {
                        padding: 0;
                    }
                }

                &.--phone {
                    display: inline-block;
                    width: 100%;
                    & > span {
                        @include respond(phone) {
                            font-size: 14px !important;
                        }
                    }
                }

                &--positioned {
                    position: relative;
                    & > span {
                        @include respond(phone) {
                            display: none;
                        }
                    }
                }

                &__text {
                    display: none;
                }
                @include respond(phone) {
                    padding: 0;
                }
            }

            &:first-child > a {
                font-size: $font-size-10;
                color: $color-gray-3;

                & > span {
                    font-size: 24px;
                }
            }

            &--badge {
                position: absolute;
                left: 8px;
                top: -8px;
                padding: 0.125rem 0.25rem;
                line-height: 1;
                border-radius: $border-radius-base;
                background-color: $color-primary;
            }

            &.--bar-chart {
                @include respond(phone) {
                    display: none;
                }
            }
            &.--login {
                @include respond(phone) {
                    display: none;
                }
            }
        }

        & .mobile-hidden-vr {
            @include respond(phone) {
                display: none !important;
            }
        }
    }

    &__bottom-part {
        &__navigation-list {
            padding: 17px 0;

            &__item {
                padding-right: 30px;
                font-size: $font-size-14;

                & > a {
                    color: $color-white;
                    @include respond(phone) {
                        width: max-content;
                        display: block;
                    }
                }
            }
            @include respond(phone) {
                width: 100%;
                overflow-x: scroll;
            }
        }

        & > p {
            color: $color-white;
            font-size: $font-size-14;
            @include respond(phone) {
                background-color: #0c384f;
                padding-right: -2.5%;
                width: 105%;
                margin-left: -2.5%;
                text-align: center;
                & > a {
                    padding: 8px;
                    width: 100%;
                }
            }
        }

        @include respond(phone) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__mobile-search {
        width: 100%;
        height: 50px;
        position: relative;
        @include respond(phone) {
            display: block !important;
        }
        &__input-wrapper {
            position: relative;
            width: 100%;
            &__input {
                position: absolute;
                width: 100%;
                font-size: $font-size-12;
                padding: 13px 15px;
                border: none;
                border-radius: $border-radius-base;

                &::placeholder {
                    color: #d9d9d9;
                }
            }

            &__search-icon {
                text-align: center;
                padding: 12px 15px;
                width: 50px;
                background-color: $color-primary;
                position: absolute;
                top: 0;
                right: 0;
            }

            &__search-results {
                position: absolute;
                width: 100%;
                top: 40px;
                left: 0;
                z-index: 999;
                display: none;

                &.active {
                    display: block;
                    padding: 5px 5px 15px;
                    background-color: $color-white;
                    body {
                        opacity: 0.5;
                    }
                }
                &__item {
                    padding: 5px;
                    & > p {
                        color: #252323;
                        font-size: $font-size-14;
                    }
                    &:hover {
                        background-color: #f5f6f6;
                    }
                }
                &--count__wrapper {
                    color: #6c757d;
                }
            }
        }
    }

    &__mobile-navigation {
        position: fixed;
        background-color: #ffffff;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 9999;
        overflow-y: scroll;
        transition: all 0.3s linear;
        &.open {
            left: 0;
        }
        &__upper-part {
            background-color: $color-blue-dark;
            width: 100%;
            padding: 16px;
            &--left-side {
                &__logo-wrapper {
                    margin-left: 20px;
                    display: inline-block;
                }
            }
            &--right-side {
                &__lang-span {
                    padding: 5px;
                    border-radius: $border-radius-base;
                    color: $color-white !important;
                    &:nth-child(2) {
                        margin-left: 20px;
                    }

                    &.active {
                        background-color: rgba(204, 26, 56, 0.5);
                    }
                }
            }
        }
        &__categories-list {
            padding: 16px;
            &__item {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                &--left-image {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    background-color: $color-primary-2;
                    border-radius: $border-radius-base;
                }

                & > img {
                    margin-left: auto;
                    transform: rotate(180deg);
                    width: 5px;
                    height: 9px;
                }

                &__sub-categories-wrapper {
                    padding-top: 16px;
                    padding-left: 16px;
                    position: fixed;
                    top: 60px;
                    left: -100%;
                    background-color: $color-white;
                    z-index: 10000;
                    width: 100%;
                    height: 100%;
                    transition: all 0.3s linear;
                    opacity: 0;
                    &.open {
                        left: 0;
                        opacity: 1;
                    }

                    &__back-link {
                        display: flex;
                        align-items: center;
                        color: $color-black-1 !important;
                        font-size: $font-size-14;
                        & > img {
                            margin-right: 16px;
                            object-fit: cover;
                        }
                    }

                    &__list {
                        &__item {
                            & > a {
                                padding-top: 20px;
                                display: inline-block;
                                color: $color-black-1;
                            }
                        }
                    }
                    & > p {
                        padding-right: 16px;
                        & > img {
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }
        &__list {
            padding-left: 16px;
            li > a {
                color: $color-black-1;
                display: inline-block;
                padding: 20px 0;
                width: 100%;
            }
        }
    }
}

main {
    margin-top: 20px;
    height: max-content;

    .main-wrapper {
        background-color: $color-white;

        position: relative;
        background-color: white;
        z-index: 100;
    }

    .main-center {
        width: 55%;

        &__carousel {
            &__item {
                width: 100%;
                height: 410px;
                img {
                    max-width: 100%;
                    object-fit: cover;
                }
            }
        }

        &__base-categories {
            margin-top: 20px;
            &__item {
                width: 18%;
                border: solid 1px $color-gray-4;
                border-radius: $border-radius-base;

                &--inner {
                    padding: 10px 26px;
                    color: $color-black;

                    &__image-wrapper {
                        margin-bottom: 4px;
                        width: 30px;
                        height: 30px;
                        background-color: #f1eeee;
                    }
                }
                @include respond(phone) {
                    width: max-content;
                    margin-right: 5px;
                }
            }
            @include respond(phone) {
                overflow-y: scroll;
                margin-top: 10px;
            }
        }

        & .sub-categories-wrapper {
            background-color: white;
            width: 145%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        & .sub-categories {
            padding: 20px 20px 20px 0;
            &__list {
                &__item {
                    &:first-child a {
                        color: #0060d2;
                        font-weight: bold;
                        font-size: 15px;
                    }

                    &__link {
                        color: $color-black;
                        font-size: 14px;
                        display: inline-block;
                        padding-bottom: 10px;
                    }
                }
            }
        }

        @include respond(phone) {
            width: 100%;
        }
    }

    .main-right {
        width: 23%;
        &__panel {
            width: 100%;
            height: 160px;
            background-color: $color-blue-4;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        @include respond(phone) {
            display: none !important;
        }
    }

    .all-categories-button-wrapper {
        margin: 30px auto;
        text-align: center;
        &__button {
            background-color: $color-blue-dark;
        }
        @include respond(phone) {
            display: block !important;
        }
    }
}

.main-left {
    width: 19%;
    padding: 20px 0;
    border-radius: $border-radius-base;
    border: solid 1px $color-gray-4;

    &__categories-list {
        &__item {
            padding: 10px 20px 10px 15px;
            font-size: 14px;
            cursor: pointer;

            &--left-image {
                width: 20px;
                height: 20px;
                margin-right: 10px;
                background-color: $color-primary-2;
                border-radius: $border-radius-base;
            }

            & > img {
                margin-left: auto;
                transform: rotate(180deg);
                width: 5px;
                height: 9px;
            }

            &.hovered {
                background-color: f5f6fa;
            }
        }
    }
    @include respond(phone) {
        display: none !important;
    }
}

.weekly-discounts {
    margin-top: 60px;
    &__inner {
        position: relative;
        border: 2px solid $color-primary;
        border-radius: $border-radius-base * 4;
        padding: 60px 35px 30px;
        &__header {
            width: 50%;
            height: 60px;
            background-color: $color-white;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            top: -30px;
            left: 10%;

            &__timer {
                width: 50%;
                background-color: $color-primary;
                color: $color-white;
                border-radius: $border-radius-base * 15;
                padding: 12px 15px;
                & > div {
                    width: 25%;
                }

                @include respond(phone) {
                    width: 90%;
                    padding: 12px 5px;
                    margin-top: 10px;
                    font-size: 13px;
                }
            }

            & > h1 {
                @include respond(phone) {
                    font-size: 15px;
                }
            }

            @include respond(phone) {
                top: 0;
                left: 50%;
                width: 90%;
                margin-top: -3px;
                transform: translateX(-50%);
                flex-direction: column;
            }
        }
        &__product-items {
            &__item {
                width: 20%;
                @include respond(phone) {
                    width: 250px;
                }
            }
            @include respond(phone) {
                display: none !important;
            }
        }
    }
    & .products-carousel {
        margin-top: 30px;
        @include respond(phone) {
            display: block !important;
        }
    }
}

.images-section-1 {
    margin-top: 30px;

    &__items {
        &__item {
            width: 13%;
            &__image {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }

            @include respond(phone) {
                width: 100%;
                margin-bottom: 30px;
            }
        }
        @include respond(phone) {
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.images-section-2 {
    margin: 30px 0;

    &__items {
        &__item {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            img {
                height: 200px;
                width: 100%;
                object-fit: cover;
            }
            @include respond(phone) {
                width: 320px;
            }
        }
    }
    @include respond(phone) {
        display: none !important;
    }
    &--mobile {
        margin: 30px 0;
        @include respond(phone) {
            display: block !important;
        }
    }
}

.products-carousel--mobile {
    margin-bottom: 30px;
    @include respond(phone) {
        display: block !important;
    }
}

.image-and-products {
    margin-bottom: 30px;
    .container .row .col-xl-9 .col-xl-3 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .container .row .col-xl-6 .col-xl-6 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .container .row .col-xl-6 .col-xl-4 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include respond(phone) {
        display: none;
    }
}

.two-images {
    margin-bottom: 30px;
    &__image-wrapper {
        height: 200px;
        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @include respond(phone) {
        display: none !important;
    }
}

.six-images {
    margin-bottom: 30px;
    &__image-wrapper {
        &__image {
            border-radius: $border-radius-base * 1.5;
            width: 100%;
            @include respond(phone) {
                border-radius: $border-radius-base * 2.5;
            }
        }
        @include respond(phone) {
            margin-bottom: 30px;
        }
    }
}

.products-from-a-category {
    margin-top: 30px;
    h2 {
        font-size: 30px;
    }
    &__items {
        flex-wrap: wrap;
    }

    @include respond(phone) {
        display: none !important;
    }

    &--mobile {
        margin-top: 30px;
        @include respond(phone) {
            display: block !important;
        }
    }
}

.viewed-products {
    padding: 50px 0 50px;
    background-color: #f5f5f5;
    & .product-item {
        background-color: $color-white;
    }
    & h3 {
        font-size: 30px;
    }

    @include respond(phone) {
        display: none !important;
    }

    &--mobile {
        padding-bottom: 50px;
        overflow-x: hidden;
        @include respond(phone) {
            display: block !important;
        }
    }
}

.footer {
    background-color: $color-blue-dark;
    padding-top: 50px;
    color: $color-white;
    font-size: $font-size-14;

    &__navigation-list {
        a {
            color: $color-gray-5;
        }

        &__item {
            width: 25%;

            ul li {
                a {
                    font-size: $font-size-14;
                }

                .suggestion-compilation-button {
                    padding: 10px 20px;
                    margin: 25px 0;
                    border-radius: 17px;
                    background-color: $color-primary-1;
                    font-size: $font-size-12;
                    color: $color-white;
                    display: inline-block;
                }
                & > span {
                    @include respond(phone) {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        text-align: right;
                    }
                }
                &.mobile-hidden {
                    @include respond(phone) {
                        display: none;
                    }
                }
            }

            &--first {
                &__logo-wrapper {
                    & > img {
                        width: 106px;
                    }
                    @include respond(phone) {
                        width: 25%;
                        text-align: left;
                    }
                }
                li:nth-child(2) {
                    a {
                        color: $color-white;
                        font-size: 21px;
                    }
                }

                &--hidden-contact-info {
                    @include respond(phone) {
                        display: block !important;
                        margin-top: 10px;
                    }
                }
            }

            &--second,
            &--third,
            &--fourth {
                li:nth-child(1) {
                    font-size: $default-font-size;
                }
            }

            &--second,
            &--third {
                @include respond(phone) {
                    display: none;
                }
            }

            &--fourth {
                & > li {
                    margin-bottom: 17px;
                    font-size: $default-font-size;
                }
                &__social-links-list {
                    margin-bottom: 50px;
                    &__item {
                        &__link {
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            @media only screen and (max-width: 22.5rem) {
                                width: 30px;
                                height: 30px;
                            }
                            &.--facebook {
                                background-color: #3c5b9b;
                            }
                            &.--instagram {
                                background-color: #c619b8;
                            }
                            &.--twitter {
                                background-color: #40c1df;
                            }
                            &.--pinterest {
                                background-color: #c72982;
                            }
                            &.--youtube {
                                background-color: #ed3c32;
                            }
                            &.--linkedin {
                                background-color: #335bdd;
                            }
                        }
                    }
                }
                &__support-links {
                    margin-bottom: 70px;

                    &__item {
                        width: 48%;
                        &-link {
                            width: 100%;
                            padding: 10px;
                            border-radius: $border-radius-base;
                            color: $color-white !important;
                            display: inline-block;
                            text-align: center;

                            &.--whatsapp {
                                background-color: #57bb63;
                            }
                            &.--telegram {
                                background-color: #64a9dc;
                            }
                        }
                    }
                }
                &__list-item {
                    @include respond(phone) {
                        &--social-links {
                            margin-top: 150px;
                        }
                        &--support {
                            margin-top: -250px;
                        }

                        &--mobile-apps {
                            margin-top: 175px;
                        }
                    }
                }
                &__apps {
                    margin-top: -25px;
                    & > li {
                        & > a {
                            display: inline-block;
                            width: 100px;
                            height: 50px;
                            & > img {
                                width: 100%;
                            }
                        }
                    }
                    @include respond(phone) {
                        justify-content: space-around !important;
                    }
                }
                @include respond(phone) {
                    text-align: center;
                }
            }
            @include respond(phone) {
                width: 100%;
            }
        }

        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__lower-part {
        background-color: $color-blue-dark-light;
        padding: 17px 0px 17px;
        margin-top: 88px;

        @include respond(phone) {
            margin-top: 0;
        }

        a {
            color: $color-gray-6;
            margin-left: 30px;
        }

        p {
            color: $color-gray-5;
            margin-right: 20px;
            span {
                color: $color-primary-1;
            }
        }

        & > div {
            @include respond(phone) {
                flex-direction: column;
                align-items: flex-start;
            }

            & > p {
                @include respond(phone) {
                    order: 1;
                    margin: 0 auto;
                }
            }

            & > div {
                @include respond(phone) {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 16px;
                    & > a:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

.shadow-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    &.active {
        display: block;
    }
}

.scroll-to-top {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    position: fixed;
    right: 20px;
    bottom: 95px;
    opacity: 0;
    transition: all 0.3s linear;
    cursor: pointer;
    & > img {
        transform: rotate(270deg);
    }
    &.show {
        opacity: 1;
    }
}

.product-item {
    border: 1px solid $color-gray-4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    & > a {
        color: $color-black;
    }
    &__remove-icon {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    &__image-wrapper {
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        &__image {
            width: 100%;
            object-fit: cover;
            @include respond(phone) {
                width: 75%;
            }
        }
        a {
            text-align: center;
        }
    }
    &__name {
        margin: 10px 0 auto;
        & > a {
            font-size: $font-size-14;
            color: $color-black;
        }
    }
    &__features {
        & > span {
            color: #3377ff;
            font-size: $font-size-13;
            margin: 20px 0;
            display: inline-block;
        }
    }
    &__pricing-and-basket {
        &__prices {
            &--discounted {
                color: $color-primary-lighter;
                &--bigger {
                    font-size: 24px;
                }
            }
            &--old-price {
                position: relative;
                &:after {
                    content: "";
                    width: 100%;
                    top: 0;
                    position: absolute;
                    border-top: 2px solid $color-primary;
                    transform: rotate(166deg);
                    transform-origin: 0% 0%;
                }
            }
            &__monthly {
                margin-top: 10px;
                font-size: $font-size-13;
            }
            &__actions {
                display: none;
            }
        }
        &__basket {
            cursor: pointer;
            & > img {
                width: 20px;
                height: 20px;
            }
        }
    }
}
