@import "../variables";
@import "../mixins";

.products-not-logged-in,
.searched-products {
    .product-item {
        width: 20%;

        @include respond(phone) {
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        &__center {
            @media only screen and (max-width: 400px) {
                width: 50%;
            }
        }

        &__name {
            a:link {
                color: $color-black !important;
            }
            @include respond(phone) {
                margin-bottom: 15px;
            }
            @media only screen and (max-width: 400px) {
                width: 75%;
            }
        }

        &__image-wrapper {
            text-align: center;
            img {
                width: 90%;
                height: 75%;
            }
            @include respond(phone) {
                width: 50%;
            }
        }

        &__features {
            @include respond(phone) {
                display: none;
            }
        }

        &__pricing-and-basket {
            &__prices {
                @include respond(phone) {
                    display: flex;
                    flex-direction: column;
                }

                &--old-price {
                    @include respond(phone) {
                        order: -1;
                        &::after {
                            width: 35%;
                        }
                    }
                }

                &__actions {
                    & > button {
                        display: flex;
                        padding: 10px;
                        border-radius: $border-radius-base * 2.5;
                        & > img {
                            margin-right: 5px;
                        }

                        @media only screen and (max-width: 400px) {
                            font-size: 13px;
                        }
                    }

                    & > a {
                        margin-left: 15px;
                    }
                    @include respond(phone) {
                        display: flex;
                        align-items: center;
                        margin-top: 15px;
                    }
                }
            }
            &__basket {
                @include respond(phone) {
                    display: none;
                }
            }
        }
    }
}

.searched-products .product-item {
    width: 25%;
    @include respond(phone) {
        width: 100%;
    }
}
